<footer class="footer" id="jckl-footer">
    <div class="inner container">

        <h2 class="sr-only">More Navigation Options</h2>
        <div class="footer-columns footer-navigation-menu row"></div>

        <h2 class="sr-only">Site Information</h2>
        <div class="footer-bottom">
            <div>
                <span>James C. Kirkpatrick Library</span> | <span>601 South Missouri </span> | <span>Warrensburg, MO 64093</span> | <span>660-543-4565</span> | <span><a href="https://library.ucmo.edu/">Library Home Page</a></span>
            </div>
            <div>
                <span>University of Central Missouri</span> | <span>P.O. Box 800</span> | <span>Warrensburg, MO 64093</span> | <span>877-729-8266</span> | <span><a href="http://www.ucmo.edu">University Home Page</a></span>
            </div>
        </div>
    </div>

</footer>
