<div id="jckl-header">
  <div class="inner container">
    <h2 class="sr-only">Main Navigation Menu</h2>

    <nav class="navbar navbar-toggleable-md navbar-inverse">

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>

      <a class="navbar-brand" href="https://library.ucmo.edu/">
        <img alt="James C. Kirkpatrick Library" src="https://library.ucmo.edu/assets/logo.png">
      </a>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">


        </ul>
      </div>
    </nav>


    <nav class="ucm-links-standalone dropdown">
      <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        University of Central Missouri
      </a>
      <ul class="dropdown-menu" role="menu">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="http://www.ucmo.edu/">UCM Home</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="http://ucmo.blackboard.com/">Blackboard</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="http://www.ucmbookstore.com/home.aspx">Bookstore</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="http://www.ucmo.edu/search/">Campus Directory</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="http://www.ucmo.edu/campusmap/">Campus Map</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="http://mail.ucmo.edu/">Google Apps @ UCM</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="http://mycentral.ucmo.edu/">MyCentral</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="http://www.ucmo.edu/calendar/">University Calendar</a></li>
      </ul>
    </nav>


  </div>
</div>
